<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NouveauServlet</servlet-name>
        <servlet-class>servlet.NouveauServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeServlet</servlet-name>
        <servlet-class>servlet.ListeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilV2</servlet-name>
        <servlet-class>servlet.AccueilV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilPompier</servlet-name>
        <servlet-class>servlet.ProfilPompier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilChefDeCaserne</servlet-name>
        <servlet-class>servlet.ProfilChefDeCaserne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentilServlet</servlet-name>
        <servlet-class>servlet.VentilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueServlet</servlet-name>
        <servlet-class>servlet.VueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NouveauServlet</servlet-name>
        <url-pattern>/NouveauServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeServlet</servlet-name>
        <url-pattern>/ListeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilV2</servlet-name>
        <url-pattern>/AccueilV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilPompier</servlet-name>
        <url-pattern>/ProfilPompier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilChefDeCaserne</servlet-name>
        <url-pattern>/ProfilChefDeCaserne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentilServlet</servlet-name>
        <url-pattern>/affectation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueServlet</servlet-name>
        <url-pattern>/VueServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
